<section class="seccion-dos">
    <div class="exp-edu">
        <h1 class="educacion">Educacion</h1>
        <div class="apx">
          <h1 class="apx-h1">APX</h1>
          <p class="apx-p">Desarrollo Web Fullstack - Software Developer</p>
          <p class="apx-time">2022 - 2023</p>
        </div>
        <div class="arg-prog">
          <h1 class="arg-h1">Argentina Programa</h1>
          <p class="arg-p">Perfil Full Stack Jr</p>
          <p class="arg-time">2022-2023</p>
        </div>
      </div>
    </section>