<section class="seccion-uno">
    <header class="header">
      <img src="assets/imagenes/argProgLogo.png" alt="logo" class="logo-header" />
      <div class="login">
        <a href="https://github.com/NahuelAlfaro"
          ><img
            class="img-git"
            src="assets/imagenes/whitegit.png"
            alt="https://github.com/NahuelAlfaro"
        /></a>
        <button type="button" class="btn btn-outline-light" (click)="login()">Log In</button>
      </div>
    </header>
    <div class="background">
      <img src="assets/imagenes/fondo.png" alt="" class="background-image" />
      <img src="assets/imagenes/perfil.png" alt="" class="foto-perfil" />
    </div>
  </section>