<section class="seccion-dos">
    <div class="proyectos">
        <h1 class="proyectos-h1">Proyectos</h1>
        <div class="portf">
          <img src="assets/imagenes/argprogwhite.png" class="img-portf" alt="" />
          <div class="img-contenedor">
            <h1 class="portf-h1">Portfolio Web</h1>
            <p class="portf-p">
              Desarrollo de un Portfolio Web montado en Angular con base de datos
              MySql y Java
            </p>
          </div>
        </div>
      </div>
    </section>