<section class="seccion-dos">
  <div class="skill-borde">
  <h1 class="skills-h1">Skills</h1>
  <div class="col-lg-2">
    <button id="agregar-boton" type="button" routerLink="/newskill" class="btn btn-light" *ngIf="isLogged">Añadir Nueva</button>
  </div>

  <div class="skills-barras">
    <ng-container *ngFor="let skill of skills">
      <div class="progress-bar">
        <div class="progress-bar-inner" [style.width]="skill.porcentaje + '%'"></div>
        <div class="progress-bar-label">{{ skill.nombre }}</div>
      </div>

      <div class="progress-bar-actions">
        <button class="btn btn-light" *ngIf="isLogged" [routerLink]="'/editskill/' + skill.id">
          <i class="bi bi-wrench-adjustable-circle-fill"> Editar</i>
        </button>
        <button class="btn btn-danger" *ngIf="isLogged" (click)="delete(skill.id)">
          <i class="bi bi-x-octagon"> Borrar</i>
        </button>
      </div>
    </ng-container>
  </div>
</div>
</section>